body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1030;
  padding: 0.5rem 1rem;
  align-items: center;
}

.navbar-insid {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  flex-flow: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-link {
  display: inline-block;
  font-size: 1.25rem;
}

.navbar-link a {
  text-decoration: none;
  color: #ffffff;
}

.navbar-linkul {
  display: flex;
  list-style-type: none;
  margin-left: auto;
}

.navbar-li {
  margin-right: 10px;
}
.navbar--active a {
  font-weight: 900;
  text-decoration: none;
  color: #ffffff;
}

.navbar-li a {
  text-decoration: none;
  color: #aaaaaa;
}

.li-trans a:hover {
  color: #ffffff;
  transition-duration: 0.15s;
}
.pgh {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding: 4rem 2rem;
  background-color: #e9ecef;
}
.phg-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
}

.header-welcome {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.header-intro {
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem;
}

.header-link {
  width: 140px;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 1.25rem;
  line-height: 1.5;
  background-color: royalblue;
  border-color: royalblue;
  text-align: center;
}

.header-link a {
  text-decoration: none;
  color: #ffffff;
}
.header-link:hover {
  background-color: blue;
  transition-duration: 0.15s;
}

.pgh-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
  max-width: 1140px;
}

.pgh-item {
  margin-bottom: 1.5rem;
  flex: 0 0 25%;
  max-width: 22%;
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.pgh-list-cos {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  height: 100%;
}

.pgh-list-cos-img {
  width: 100%;
  border-top-left-radius: calc(0.25rem-1px);
  border-top-right-radius: calc(0.25rem-1px);
  vertical-align: middle;
}
.pgh-title {
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.pgh-list-text {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.pgh-intro {
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.pgh-list-a {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  position: relative;
  margin-bottom: 0;
}
.pgh-list-a a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  background-color: #007bff;
  border-color: #007bff;
  text-align: center;
  vertical-align: center;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}

.pgh-list-a a:hover {
  border-radius: 0.25rem;
  transition: color 0.15s;
}

.cpr {
  background-color: #3a3a3a;
  height: 115px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: -10px;
}

.cpr-text {
  color: #fff;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  text-align: center;
}
