header {
  display: block;
  color: goldenrod;
  font-size: 55px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(farm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

.navbar {
  list-style: none;
  display: flex;
  background-color: goldenrod;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

li :hover {
  background-color: rgb(134, 102, 21);
}

div {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  max-width: 700px;
  width: 100%;
}

img {
  width: 32%;
}
